main {
  justify-content: start;
  padding: 2rem 0;
}

section#container-iframe {
  background-color: rgb(0, 0, 0);
  justify-items: center;
  padding: 0;
  box-shadow: 1px 3px 8px 1px var(--text-black);
}

figure#video-ranger {
  width: 90%;
  max-width: 1500px;
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: 30dvh;
}

section#container-comparacao {
  display: flex;
  flex-direction: column;
}

label.card-comparacao {
  display: grid;
  grid-template-columns: repeat(8, 2fr);
  grid-template-rows: repeat(2, max-content);
  padding: 2rem 2rem;
}

img.imagem-card {
  grid-column: 2/8;
  width: 100%;
}

input.checkbox {
  grid-column: 2;
  grid-row: 2/-1;
  width: 40%;
}

div#descricao {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  grid-column: 3/8;
  grid-row: 2/-1;
  align-items: center;
}

span.descricao {
  font-size: 0.9rem;
  font-weight: 600;
}

span.preco-sugerido {
  color: green;
  font-weight: 400;
}

span.botao {
  display: flex;
  justify-content: center;
}

input#btn-comparar {
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 10px;
  width: 50%;
  height: 40px;
  color: var(--text-white);
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(14, 8, 138, 0.829) 0%,
    rgba(9, 9, 121, 1) 45%,
    rgba(15, 12, 160, 0.877) 100%,
    rgb(4, 5, 81) 100%
  );
}

input#btn-comparar:hover {
  box-shadow: 0px 1px 5px 1px var(--text-black);
  margin-left: 10px;
  padding: 0 10px;
  transition: 0.4ms;
  filter: brightness(1.7);
}

@media (min-width: 665px) {
  figure#video-ranger {
    width: 90%;
    max-width: 1500px;
  }

  iframe {
    height: 50dvh;
    max-height: 55dvh;
  }

  section#container-comparacao {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 0.5rem;
    margin: 20px;
  }

  label.card-comparacao {
    padding: 2rem 0;
  }

  img.imagem-card {
    grid-column: 1/-1;
    width: 100%;
  }

  input.checkbox {
    grid-column: 1;
    grid-row: 2;
    width: 50%;
  }

  div#descricao {
    grid-column: 2/-1;
  }

  input#btn-comparar {
    font-size: 1.2rem;
    width: 25%;
  }
}
