/* Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Cores padrões */
:root {
  --background-body: #ffffff;
  --ford-blue: #003478;
  --text-white: #ffffff;
  --text-black: #333;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--background-body);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

/* Início estilização header  */
#header-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

#header-container img {
  width: 35vw;
  max-width: 200px;
  min-width: 120px;
  height: auto;
  margin: 20px 10px 15px;
}

nav {
  margin: 0 2px;
  height: 10%;
}

nav ul {
  border: 1.5px solid var(--ford-blue);
  display: flex;
  list-style: none;
  width: 100%;
  gap: 0.05rem;
  border-radius: 2px;
}

nav li {
  width: 100%;
}

nav a {
  background-color: var(--ford-blue);
  color: var(--text-white);
  font-size: 1.05rem;
  font-weight: 600;
  display: block;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  box-shadow: 1px 5px 8px -1px var(--text-black);
  text-shadow: 1px 3px var(--text-black);
  transition: 0.03s;
  cursor: pointer;
  filter: brightness(1.2);
}

/* Início estilização main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3333332f;
  flex: 1;
  width: 100%;
  padding: 0% 2%;
}

section {
  padding: 1rem 0;
}

figure.img-carro {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

section figure img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  display: block;
  border-radius: 8px;
  box-shadow: 1px 3px 8px 1px var(--text-black);
}

section p {
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
}

section a {
  color: #003478;
  font-weight: 700;
  text-decoration: none;
}

section a:hover {
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
}

/* Início estilização footer */
footer {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: auto auto;
  justify-items: center;
  justify-content: space-between;
  align-content: center;
  background-color: var(--ford-blue);
  width: 100%;
  min-height: 56px;
  padding: 0.5rem;
  color: var(--text-white);
}

footer #texto-redes-sociais {
  font-size: 0.75rem;
  grid-column: 1;
  grid-row: 1/1;
}

footer #redes-sociais {
  grid-column: 1;
  grid-row: 2;
  height: 22px;
}

footer .redes-sociais-icones {
  width: 23px;
}

footer #copy {
  grid-column: 2;
  grid-row: 1/-1;
  align-self: center;
  font-size: 0.65rem;
}

footer #icone-ford {
  grid-column: 3;
  grid-row: 1/-1;
  justify-self: flex-end;
  align-self: center;
  width: 18vw;
  max-width: 75px;
  min-width: 50px;
}

@media (min-width: 665px) {
  #header-container {
    display: flex;
    align-items: center;
  }

  #header-container img {
    width: 25vw;
    height: auto;
    padding-left: 30px;
  }

  nav {
    margin: 0 2px;
    padding-right: 100px;
    height: 10%;
    width: 100%;
  }

  nav ul {
    justify-content: center;
    list-style: none;
    border: none;
    gap: 3rem;
  }

  nav li {
    padding-top: 2.5rem;
    width: auto;
  }

  nav a {
    background-color: var(--background-body);
    color: rgb(72, 72, 226);
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: underline;
  }

  nav a:hover {
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    font-weight: 600;
    transition: 0.03s;
    cursor: pointer;
    color: var(--ford-blue);
    border-radius: 8px;
  }

  main {
    background-color: var(--background-body);
  }

  hr {
    border: 0px;
    height: 2px;
    width: auto;
    margin: 0;
    opacity: 0.5;
    background-image: linear-gradient(
      to right,
      transparent,
      var(--ford-blue),
      transparent
    );
  }

  section {
    padding: 0.5rem 0;
  }

  figure.img-carro {
    padding: 0 50px;
  }

  section figure img {
    width: 100%;
    height: 70vh;
    object-fit: fill;
    aspect-ratio: 16/9;
    display: block;
    border-radius: 8px;
    box-shadow: 1px 3px 8px 1px var(--text-black);
  }
  section p{
    font-size: 1.1rem;
  }
  section a:hover {
    color: #003478;
    filter: brightness(2);
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
  }
}
