/* Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Cores padrões */
:root{
  --background-body: #ffffff;
  --ford-blue: #003478;
  --text-white: #ffffff;
  --text-black: #333;
}
